<!doctype html>
<html ng-app="burger">
<head>
    <meta charset="utf-8">    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="app.js"></script>
    <script src="elementsController.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
    <div class='container-fluid' ng-controller="ElementsController">
    <form ng-submit="addElement()">
        <input type="text" ng-model="newElement" 
               typeahead-editable="false"
               typeahead="prototype for prototype in prototypes | filter:$viewValue | limitTo:8" >
    </form>
    <ul>
        <li ng-repeat="element in elements | reverse" >
        {{ element.name }}
        </li>
    </ul>
    </div>

</body>

</html>
